
body{
    background-color: rgb(221, 235, 207);

}
h1{
    text-align: justify;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-property: color;
    transition-duration: 3s;
    transition-delay: ease-in; /*lento-normal-normal*/
    font-size: 50px; 
    text-shadow: 0 1px 0 rgb(243, 239, 239), 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #e1dede,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
color: #FFF;
}
h1:hover{
    color:rgb(235, 16, 45)
}

table{
    background-color: rgb(201, 207, 204);
    /* cambio el tamaño de las columnas */
    table-layout: auto; width: 50%; height: 200px;
    /* table-layout: fixed; width: 20%; */
    margin: 0 auto;
    border-collapse: collapse;
}
td,tr{
    width: 45%;
    text-align: center;
    /* solid, dashed, dotted */
    border: 0.10px solid rgb(0, 0, 0); 
    padding: 1px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}





.menu {
    display: block;
    position: relative;
    height: 76px;
    width: 370px;
    margin: 0;
    overflow: hidden;
}

  /* Bordes superiores */

.menu.servicios {
    border-top: #0cdceb 0.3em solid;
}

.menu.recursos {
    border-top: #09e6a3 0.3em solid;
}

.menu.proyectos {
    border-top: #e6204b 0.3em solid;
}

.menu.contacto {
    border-top: #c7d13f 0.3em solid;
}

  /* Atributos y transición */

.menu > span {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.menu:after, .menu > span > span {
    display: block;
    text-align: center;
    border-radius: 0em;
    padding: 2em 0 1.5em;
}

.menu:after {
    content: attr(data-title);
    width: 100%;
    background: #000;
    color: #fff; 
}

.menu > span > span {
    width: 100%;
    color: #fff;
}

.menu.servicios > span > span {
    background: #0cdceb;
}

.menu.proyectos > span > span {
    background: #e6204b;
}

.menu.recursos > span > span {
    background: #09e6a3;
}

.menu.contacto > span > span {
    background: #c7d13f;
}

  /* Lo que pasa con hover */

.menu:hover > span {
    height: 100%; 
}

  /* Dando formato a lista */ 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: inline;
    float: left;
    text-decoration: none;
    font-family: sans;
}


button {
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #350642;
    color: #dcc2e4;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}

button:hover {
    color: #fff;
}

button span {
    position: absolute;
    background: #fff;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}