*{
    margin: 0;
}
.s4{
    height: 100vh ;
    display: flex;
    /*los div internos esten centrados */
    align-items: center;
}
.r4{
    display: flex;
    /*no  se visualice esten la barra de desplasamiento*/
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px 0;
}

.flor{
    min-width: 300px ;
    max-width: 300px;
    height: 200px;
    /*border exterior a la fotos */
    outline: 2px solid darkkhaki;
    cursor: pointer;
}
img{
    height: 100%;
    width: 100%;
    /*se usa para espeficar como se debe cambiar el tamaño de un img*/
    object-fit: cover;
}
img:hover{
transform: scale(1.2);
}