*{
    margin: 0 ;
}

html{
    background-color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color:rgb(49, 213, 224) ;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo > img{
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;


}
.logo h2{
    transition-property: color;
    transition-duration: 3s;
    transition-delay: ease-in; /*lento-normal-normal*/
    font-size: 40px; 
    text-shadow: 0 1px 0 rgb(243, 239, 239), 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #e1dede,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
color: #FFF;

}
.logo h2:hover{
    color:rgb(17, 57, 233)
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: rgb(1, 0, 0);
}

nav > a{
    font-weight: 700; /* negrita */
    padding-right: 20px;
}

nav a:hover{
    color: cornflowerblue;
}
.menu{

    height: 180px;
}

/**/

ul {
    list-style: none;
}

.lista>li {
    float: left;
}

.lista li a {
    background-color:aquamarine;
    color: rgb(8, 12, 12);
    text-decoration: none;
    padding: 10px;
    display: block;
}

.lista li a:hover {
    background-color: rgb(255, 255, 255);
}

.lista li ul {
    display: none;
    position: absolute;
    min-width: 190px;
}

.lista li:hover>ul {
    display: inline-block;
}

.lista li ul li {
    position: relative;
}
    
/*cuerpo*/
section{
    margin: 50px 30px 50px 30px ;
    background-color: hsl(0, 0%, 100%);
    height: 1200px;
}
.m12{
    height:400px;
    background-color:#fefefe;
    float:left;
    width:70%;
    font-size: 18px;
    font-family: 'Creepster', cursive;
    padding-left: 10px;
    text-align: center;

}

.n13{
    height:400px;
    background-color:#ffffff;
    float:left;
    width:70%;
    font-size: 18px;
    font-family: 'Creepster', cursive;
    padding-left: 10px;
    text-align: center;

}
.e14{
    height:400px;
    background-color:#ffffff;
    float:left;
    width:70%;
    font-size: 18px;
    font-family: 'Creepster', cursive;
    padding-left: 10px;
    text-align: center;
    
}
.s24 img{
    width: 350px;
    height: 240px;
    justify-items: center;
    margin: 15px 0  25px 0;
}
p{
    text-align: justify;
}

.video{
    float: right;
    width: 30%;

}

/*tabla*/
.cabeza img{
    width: 140px;
    height: 150px;
    margin-top: 65px;
    margin-bottom: 30px;
    margin-left: 150px;
}

table{
    /* cambio el tamaño de las columnas */
    table-layout: auto; width: 10%;
    /* table-layout: fixed; width: 20%; */
    margin: 0 auto;
    border-collapse: collapse;

}

.cabeza td{
    background: #af9f9f;
    color: #000000;
}

td,tr{
    width: 45%;
    text-align: center;
    /* solid, dashed, dotted */
    border: 0.5px solid rgb(0, 0, 0); 
    padding: 2px;
}

img:hover{
    opacity: .8;
    transition: .1s;
}


/*pie*/
.pie-pagina{
    width: 100%;
    background-color:rgb(46, 213, 213);
    margin: auto;
    

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .box figure img{
    margin-top: 30px;
    width: 260px;
    height: 100px;
    
}
.pie-pagina .grupo-1 .box h2{
    color:black;
    margin-bottom: 25px;
    font-size: 20px;

}
.pie-pagina .grupo-1 .box p{
    color:rgb(red, green, blue);
    margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color:aquamarine;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}

.pie-pagina .grupo-2{
    background-color:aquamarine;
    padding: 15px 10px;
    text-align: center;
    color: black;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}