* {
    margin: 0;
}


.menu{
    float: right;
    margin: auto;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:aquamarine;
}
/*encabezado*/
.texto{
    background-color: aqua;
}
.texto h1{
        float: right;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-right:200px ;
        font-size:60px; 
        COLOR: #1089df; 
        text-shadow: 0px 0px 9px hsl(246, 90%, 42%);
}

.texto img{
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 120px;
}
/*navegacion*/

ul {
    list-style: none;
}

.lista>li {
    float: left;
}

.lista li a {
    background-color:aquamarine;
    color: rgb(8, 12, 12);
    text-decoration: none;
    padding: 10px;
    display: block;
}

.lista li a:hover {
    background-color: rgb(255, 255, 255);
}

.lista li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.lista li:hover>ul {
    display: inline-block;
}

.lista li ul li {
    position: relative;
}

/*section */

section{
    background:url(https://wp-growpro.s3-eu-west-1.amazonaws.com/media/2018/06/portada.jpg)
}
.grupo12{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.grupodv h1{
    color: azure;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.grupodv{
padding: 10px;

}
.grupodv img{
    width: 450px;
    height: 400px;
}

.grupodv img:hover{
    opacity: .8;
    transition: .1s;
    
}





/*footer*/

.pie-pagina{
    width: 100%;
    background-color:cyan

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}
.pie-pagina .grupo-1 .box figure{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .box figure img{
    margin-top: 30px;
    width: 260px;
    height: 100px;
    
}
.pie-pagina .grupo-1 .box h2{
    color:black;
    margin-bottom: 25px;
    font-size: 20px;

}
.pie-pagina .grupo-1 .box p{
    color:rgb(red, green, blue);
    margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    background-color:aquamarine;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: black;
}

.pie-pagina .grupo-2{
    background-color:aquamarine;
    padding: 15px 10px;
    text-align: center;
    color: black;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;

    }
}
